.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin: 0;
  padding: 5px;
  border: solid 1px #2e404f;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.tabTitle {
  display: flex;
  justify-content: space-between;
  color: #2e404f;
}

.selectedTab {
  color: white;
  background-color: #2e404f;
}

.selectedTab .tabTitle {
  color: white;
}

.info {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
}

.soustitre {
  font-size: .8em;
}
